/target
/classes
/checkouts
pom.xml.asc
*.jar
*.class
/.cpcache
/.eastwood
/.lein-*
/.nrepl-history
/.rebl
/.nrepl-port
/.rebel_readline_history
/.socket-repl-port
.hgignore
.hg/
/clojure_test*
/example*db
/derby.log
