{:tasks
 {:requires [[clojure.string :as str]]

  test {:doc "Run the test suite."
        :task
        (let [maria?   (some #{"maria"} *command-line-args*) ; test mariadb driver?
              local?   (some #{"local"} *command-line-args*) ; only test local dbs?
              all?     (some #{"all"} *command-line-args*) ; test all clojure versions?
              versions (or (seq (filter (fn [v] (str/starts-with? v "1."))
                                        *command-line-args*))
                           ["1.12"])
              base-jdk (first (filter (fn [v] (str/starts-with? v "jdk"))
                                      *command-line-args*))
              jdk      (or base-jdk
                           ;; sean's local default:
                           "jdk24")
              env
              (cond local?
                    {}
                    maria?
                    {"NEXT_JDBC_TEST_MARIADB" "yes"
                     "NEXT_JDBC_TEST_MYSQL"   "yes"}
                    :else
                    {"NEXT_JDBC_TEST_MSSQL" "yes"
                     "NEXT_JDBC_TEST_MYSQL" "yes"
                     "NEXT_JDBC_TEST_XTDB"  "yes"
                     "MSSQL_SA_PASSWORD"    "Str0ngP4ssw0rd"})]
          ;; since we test xtdb by default now, we default to 1.12:
          (doseq [v (if all? ["1.10" "1.11" "1.12"] versions)]
            (println "\nTesting Clojure" v)
            (shell {:extra-env env}
                   "clojure"
                   (str "-M"
                        (when v (str ":" v))
                        ":test:runner"
                        ;; jdk21+ adds xtdb:
                        (when (and (get env "NEXT_JDBC_TEST_XTDB")
                                   (not base-jdk))
                          ":jdk21")
                        ;; add jdk-specific alias if provided
                        ":" jdk))))}

  test-all {:doc "Run the test suite for all Clojure versions."
            :task (binding [*command-line-args* (conj *command-line-args* "all")]
                    (run 'test))}

  ci {:doc "Run the CI pipeline of tests and build the JAR."
      :depends [test-all]
      :task (let [snapshot? (some #{"snapshot"} *command-line-args*)
                  opts (if snapshot?
                         [:snapshot true]
                         [])]
              (apply shell "clojure -T:build jar"
                     (map str opts)))}

  ci:deploy {:doc "Deploy the JAR we just built to Clojars."
             :depends [ci]
             :task (let [snapshot? (some #{"snapshot"} *command-line-args*)
                         opts (if snapshot?
                                [:snapshot true]
                                [])]
                     (apply shell "clojure -T:build deploy"
                            (map str opts)))}

  docker:up {:doc "Start the Docker containers for testing."
             :task (shell "docker compose up -d")}

  docker:down {:doc "Stop the Docker containers."
               :task (shell "docker compose down")}}}
