{:mvn/repos {"sonatype" {:url "https://oss.sonatype.org/content/repositories/snapshots/"}}
 :paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/java.data {:mvn/version "1.0.86"}

        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}}
 :aliases
 {;; for help: clojure -A:deps -T:build help/doc
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.5.0" :git/sha "2ceb95a"}}
          :ns-default build}

  ;; versions to test against:
  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
  :master {:override-deps {org.clojure/clojure {:mvn/version "1.11.1-master-SNAPSHOT"}}}

  ;; running tests/checks of various kinds:
  :test {:extra-paths ["test"] ; can also run clojure -X:test
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.0" :git/sha "48c3c67"}
                      ;; connection pooling
                      com.zaxxer/HikariCP {:mvn/version "3.4.2"}
                      com.mchange/c3p0 {:mvn/version "0.9.5.5"}
                      ;; JDBC drivers
                      ;; compatible with JDK8+:
                      org.apache.derby/derby {:mvn/version "10.14.2.0"}
                      ;; compatible only with JDK9+:
                      ;; org.apache.derby/derby {:mvn/version "10.15.2.0"}
                      ;; org.apache.derby/derbyshared {:mvn/version "10.15.2.0"}
                      org.hsqldb/hsqldb {:mvn/version "2.5.0"}
                      com.h2database/h2 {:mvn/version "1.4.200"}
                      net.sourceforge.jtds/jtds {:mvn/version "1.3.1"}
                      org.mariadb.jdbc/mariadb-java-client {:mvn/version "2.7.4"}
                      mysql/mysql-connector-java {:mvn/version "8.0.26"}
                      org.postgresql/postgresql {:mvn/version "42.2.23"}
                      io.zonky.test/embedded-postgres {:mvn/version "1.3.1"}
                      io.zonky.test.postgres/embedded-postgres-binaries-darwin-amd64 {:mvn/version "13.4.0"}
                      io.zonky.test.postgres/embedded-postgres-binaries-linux-amd64 {:mvn/version "13.4.0"}
                      io.zonky.test.postgres/embedded-postgres-binaries-windows-amd64 {:mvn/version "13.4.0"}
                      org.xerial/sqlite-jdbc {:mvn/version "3.36.0.3"}
                      com.microsoft.sqlserver/mssql-jdbc {:mvn/version "8.2.1.jre8"}
                      ;; supplementary test stuff
                      ;; use log4j 2.x:
                      org.apache.logging.log4j/log4j-api {:mvn/version "2.14.1"}
                      ;; bridge into log4j:
                      org.apache.logging.log4j/log4j-1.2-api {:mvn/version "2.14.1"}
                      org.apache.logging.log4j/log4j-jcl {:mvn/version "2.14.1"}
                      org.apache.logging.log4j/log4j-jul {:mvn/version "2.14.1"}
                      org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.14.1"}}
         :jvm-opts ["-Dlog4j2.configurationFile=log4j2-info.properties"]
         :exec-fn cognitect.test-runner.api/test}}}
