{:mvn/repos {"sonatype" {:url "https://oss.sonatype.org/content/repositories/snapshots/"}
             "ossrh-snapshots" {:url "https://s01.oss.sonatype.org/content/repositories/snapshots"}}
 :paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/java.data {:mvn/version "1.3.113"}

        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}}
 :aliases
 {;; for help: clojure -A:deps -T:build help/doc
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.6"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}

  ;; versions to test against:
  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
  :1.11 {:override-deps {org.clojure/clojure {:mvn/version "1.11.4"}}}
  :1.12 {:override-deps {org.clojure/clojure {:mvn/version "1.12.0"}}}

  ;; running tests/checks of various kinds:
  :test {:extra-paths ["test"]
         :extra-deps {io.github.noahtheduke/lazytest {:mvn/version "1.5.0"}
                      org.clojure/test.check {:mvn/version "1.1.1"}
                      ;; connection pooling
                      com.zaxxer/HikariCP {:mvn/version "6.2.1"}
                      com.mchange/c3p0 {:mvn/version "0.10.1"}
                      ;; JDBC drivers
                      ;; 10.16.x is JDK17+
                      org.apache.derby/derby {:mvn/version "10.15.2.0"}
                      org.apache.derby/derbyshared {:mvn/version "10.15.2.0"}
                      org.hsqldb/hsqldb {:mvn/version "2.7.4"}
                      com.h2database/h2 {:mvn/version "2.3.232"}
                      net.sourceforge.jtds/jtds {:mvn/version "1.3.1"}
                      org.mariadb.jdbc/mariadb-java-client {:mvn/version "3.5.1"}
                      com.mysql/mysql-connector-j {:mvn/version "9.1.0"}
                      ;; 42.7.4 changes update count (to -1) for stored procs:
                      org.postgresql/postgresql {:mvn/version "42.7.4"}
                      io.zonky.test/embedded-postgres {:mvn/version "2.1.0"}
                      io.zonky.test.postgres/embedded-postgres-binaries-darwin-amd64 {:mvn/version "17.2.0"}
                      io.zonky.test.postgres/embedded-postgres-binaries-linux-amd64 {:mvn/version "17.2.0"}
                      io.zonky.test.postgres/embedded-postgres-binaries-windows-amd64 {:mvn/version "17.2.0"}
                      org.xerial/sqlite-jdbc {:mvn/version "3.47.1.0"}
                      com.microsoft.sqlserver/mssql-jdbc {:mvn/version "12.8.1.jre11"}
                      ;; prerelease XTDB JDBC module:
                      com.xtdb/xtdb-jdbc {:mvn/version "2.0.0-SNAPSHOT"}
                      ;; use log4j2 to reduce log noise during testing:
                      org.apache.logging.log4j/log4j-api {:mvn/version "2.24.2"}
                      ;; bridge everything into log4j:
                      org.apache.logging.log4j/log4j-1.2-api {:mvn/version "2.24.2"}
                      org.apache.logging.log4j/log4j-jcl {:mvn/version "2.24.2"}
                      org.apache.logging.log4j/log4j-jul {:mvn/version "2.24.2"}
                      org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.24.2"}}
         :jvm-opts ["-Dlog4j2.configurationFile=log4j2-info.properties"]}
  :runner {:main-opts ["-m" "lazytest.main"]}}}
