{:lint-as {lazytest.core/given clojure.core/let
           lazytest.core/around clojure.core/fn
           lazytest.core/defdescribe clojure.core/def
           ;; clojure.test interface
           lazytest.experimental.interfaces.clojure-test/deftest clojure.test/deftest
           lazytest.experimental.interfaces.clojure-test/testing clojure.test/testing
           lazytest.experimental.interfaces.clojure-test/is clojure.test/is
           lazytest.experimental.interfaces.clojure-test/are clojure.test/are
           ;; xunit interface
           lazytest.experimental.interfaces.xunit/defsuite clojure.core/def
           ;; Expectations v2
           lazytest.extensions.expectations/defexpect clojure.core/def
           lazytest.extensions.expectations/from-each clojure.core/for
           lazytest.extensions.expectations/=? clojure.core/=
           lazytest.experimental.interfaces.expectations/defexpect clojure.core/def
           lazytest.experimental.interfaces.expectations/from-each clojure.core/for
           lazytest.experimental.interfaces.expectations/=? clojure.core/=
           }
 :hooks {:analyze-call {;; Expectations v2
                        lazytest.extensions.expectations/more-> hooks.lazytest.expectations/more->
                        lazytest.extensions.expectations/more-of hooks.lazytest.expectations/more-of
                        lazytest.experimental.interfaces.expectations/more-> hooks.lazytest.expectations/more->
                        lazytest.experimental.interfaces.expectations/more-of hooks.lazytest.expectations/interface-more-of
                        }}
 :linters {:clojure-lsp/unused-public-var
           {:exclude-when-defined-by #{lazytest.core/defdescribe
                                       lazytest.experimental.interfaces.xunit/defsuite
                                       lazytest.experimental.interfaces.clojure-test/deftest
                                       lazytest.experimental.interfaces.expectations/defexpect}}}}
